# Creeper explosion radius is scaled with the mob's level.
public net.minecraft.world.entity.monster.Creeper explosionRadius
# Unrolled mounts (summoned with NBT) get vanilla genetics from MobLevel.
public net.minecraft.world.entity.animal.horse.AbstractHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.horse.AbstractChestedHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.horse.Horse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.horse.SkeletonHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.horse.ZombieHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
