# Creeper explosion radius is scaled with the mob's level.
public net.minecraft.world.entity.monster.Creeper explosionRadius
# Unrolled mounts (summoned with NBT) get vanilla genetics from MobLevel.
public net.minecraft.world.entity.animal.equine.AbstractHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.equine.AbstractChestedHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.equine.Horse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.equine.SkeletonHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
public net.minecraft.world.entity.animal.equine.ZombieHorse randomizeAttributes(Lnet/minecraft/util/RandomSource;)V
